<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали мероприятия</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/event_details.js"></script>
</head>
<body>
    <h1 id="eventTitle"></h1>
    <p id="eventDescription"></p>
    <p id="eventType"></p>
    <p id="eventDifficulty"></p>
    <div id="map" style="height: 400px; width: 100%;"></div>
    <button id="participateButton">Записаться</button>
</body>
</html>