DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/runner_db

SECRET_KEY=change-me-local-secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

MINIO_ENDPOINT=localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=photos
MINIO_POSTS_BUCKET_NAME=posts

OPEN_ROUTE_API_KEY=
